
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %> %>
    <%= f.input :password, required: true %> %>
    <%= f.input :password_confirmation, required: true %> %>
    <%= f.input :roles, as: :radio_buttons, collection: Role.all, value_method: :name, required: true %> %>
    <%= f.input :email, required: true, autofocus: true %> %>
    <%= f.input :password, required: true %> %>
    <%= f.input :password_confirmation, required: true %> %>
    <%= f.input :roles, as: :radio_buttons, collection: Role.all, value_method: :name, required: true %> %>
    <%= f.input :email, required: true, autofocus: true %> %>
    <%= f.input :password, required: true %> %>
    <%= f.input :password_confirmation, required: true %> %>
    <%= f.input :roles, as: :radio_buttons, collection: Role.all, value_method: :name, required: true %> %>
    <%= f.input :email, required: true, autofocus: true %> %>
    <%= f.input :password, required: true %> %>
    <%= f.input :password_confirmation, required: true %> %>
    <%= f.input :roles, as: :radio_buttons, collection: Role.all, value_method: :name, required: true %> %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.sign_up'), class: 'btn btn-success' %>
  </div>
<% end %>

